{% extends 'base.html.twig' %}

{% block title %}Liste des Tournois{% endblock %}

{% block main %}
    <div class="tournois">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_tournoi_new') }}" class="creation"> Créer un tournoi</a>
        {% endif %}

        <h2> Liste des Tournois</h2>

        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Statut</th>
                    <th>Créé le</th>
                    <th>Créé par</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tournoi in tournois %}
                    <tr>
                        <td>
                            {% if tournoi.image %}
                                <img src="{{ asset('uploads/tournoi_images/' ~ tournoi.image) }}" alt="Tournoi">
                            {% else %}
                                Aucune image
                            {% endif %}
                        </td>
                        <td>{{ tournoi.name }}</td>
                        <td>{{ tournoi.status }}</td>
                        <td>{{ tournoi.createdAt|date('d/m/Y H:i') }}</td>
                        <td>{{ tournoi.user ? tournoi.user.nom : 'Inconnu' }}</td>
                        <td class="action-buttons">
                            <a href="{{ path('app_tournoi_edit', {'id': tournoi.id}) }}" class="modifier">Modifier</a>
                            <a href="{{ path('app_tournoi_delete', {'id': tournoi.id}) }}" class="delete" 
                               onclick="return confirm('Voulez-vous vraiment supprimer ce tournoi ?');"> Supprimer
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucun tournoi trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
